.action-bar{text-align:center; margin-bottom: 20px;gap:10px}
.table-container{overflow-x:auto;background-color:var(--color-bg-card-dark );border-radius:8px;box-shadow:0 8px 16px rgba(0,0,0,0.1);padding:15px;}
#inventoryTable{width:100%;border-collapse:collapse;min-width:800px;}
#inventoryTable thead th{background-color:var(--color-status-navy);color: var(--color-text-primary);padding:12px 15px;text-align:left;font-weight:bold;text-transform:uppercase;letter-spacing:0.05em;border-bottom:3px solid #2980b9;position:sticky;top:0;}
#inventoryTable tbody td{padding:10px 15px;border-bottom:1px solid var(--color-brand-blue-dark);transition:background-color 0.3s ease;}
#inventoryTable tbody tr:nth-child(even){background-color:var(--color-bg-card-dark);}
#inventoryTable tbody tr:hover{background-color:var(--color-bg-card-medium);}
#inventoryTable tbody tr{cursor:pointer;}
#inventoryTable tbody tr:hover{background-color:var(color--bg-card-medium);}
.funciona-si{background-color:var(--color-status-dark-green) !important;color: var(--color-accent-light-green);font-weight:bold;}
.funciona-detalle{background-color:var(--color-status-dark-yellow) !important;color: var(--color-accent-light-yellow);font-weight:bold;}
.funciona-no{background-color:var(--color-status-dark-red) !important;color: var(--color-accent-light-red);font-weight:bold;}
td:nth-child(10){text-align:center;}
.activo-si-icon{color:var(--color-brand-green);margin-right:5px;}
.activo-no-icon{color:var(--color-brand-red);margin-right:5px;}
.detalles-presente{background-color:var(--color-status-dark-yellow);font-style:italic;}


/* RESPONSIVE */
@media screen and (max-width:768px){
    input[type="file"],#loadButton,#uploadButton,.action-bar button{width:100% !important;margin:0 !important;}
    .table-container{padding:0;overflow-x:auto;-webkit-overflow-scrolling:touch;border:1px solid #ddd;}
    #inventoryTable{min-width:900px;}
    #inventoryTable thead th{padding:15px 10px;font-size:0.85em;position:sticky;left:0;}
    #inventoryTable tbody td{padding:12px 10px;font-size:0.9em;}
    .table-container::after{content:"Desliza para ver más →";display:block;text-align:center;font-size:0.75em;color:#7f8c8d;padding:10px;background-color:#f8f9fa;border-top:1px solid #eee;}
}
