.container{align-items:stretch;display:flex;justify-content:space-between;min-height:80vh;}


#disp-lateral-form {
    background-color: var(--color-bg-card-dark);overflow:hidden;padding:30px;width:40%;border-radius:12px 0 0 12px;box-shadow:0 4px 10px rgba(0,0,0,0.1);height:auto;
}

#disp-lateral-form img{max-width:100%;height:100%;object-fit:contain;}
.registro-equipo{width:60%;background-color: var(--color-bg-card-dark);flex-grow:1;padding:20px 30px;border-radius:0 12px 12px 0;box-shadow:0 4px 10px rgba(0,0,0,0.1);}


.registro-equipo select,
.registro-equipo textarea,
.registro-equipo input[type="text"],
.registro-equipo input[type="date"] {
    width:100%;padding:10px 15px;margin-top:5px;border:1px solid var(--color-text-primary);background-color: var(--color-bg-card-dark);color: var(--color-text-primary);
    border-radius:6px;box-shadow:inset 0 1px 3px rgba(0,0,0,0.05);box-sizing:border-box;transition:border-color 0.3s;
}

.registro-equipo select option{background-color: var(--color-bg-card-dark) !important;color: var(--color-text-primary) !important;}
.registro-equipo select option:checked,.registro-equipo select option:focus{background-color:var(--color-bg-card-dark);color: var(--color-text-primary);}

.registro-equipo select:focus,.registro-equipo textarea:focus,.registro-equipo input[type="text"]:focus,.registro-equipo input[type="date"]:focus{border-color:#1c4b75;outline:none;}
.registro-equipo label{display:block;font-weight:600;color:var(--color-text-primary);margin-bottom:5px;}
.grupo-horizontal{display:flex;gap:20px;margin-bottom:15px;}
#usuario_dpto_display{background-color: var(--color-bg-card-dark);color: var(--color-text-primary);}
.campo-individual{flex:1;}


.label-encabezado{margin-bottom:8px;display:block;color:var(--color-text-primary);font-size:1.2em;font-weight:bold;margin-top:20px;}


.radio-group{flex-grow:0;width:fit-content;min-width:250px;}
.radio-opciones{display:flex;align-items:center;gap:15px;}
.radio-opciones label{display:inline-block;color:var(--color-text-primary);font-weight:normal;}
.radio-opciones textarea{max-width:40%;}

.guardar-equipo {
    background-color: var(--color-brand-green);color:var(--color-text-primary);padding:15px 20px;
    border:none;border-radius:8px;cursor:pointer;font-size:1.1em;font-weight:bold;text-transform:uppercase;width:100%;
    margin-top:30px;transition:background 0.3s,transform 0.1s;
}


.guardar-equipo:hover{filter:contrast(175%) brightness(103%);transform:translateY(-10px);}

/* RESPONSIVE */
@media screen and (max-width: 850px) {
    .container{flex-direction:column;width:100%;padding:0;box-sizing:border-box;}
    #disp-lateral-form{width:100%;border-radius:12px 12px 0 0;padding:5px;text-align:center;}
    #disp-lateral-form img{max-height:150px;}
    .registro-equipo{width:100% !important; box-sizing: border-box; padding:20px 15px;}
    .grupo-horizontal{flex-direction:column;gap:10px;margin-bottom:0;}
    .campo-individual{width:100%;margin-bottom:15px;}
    .radio-group{min-width:100%;}
    .radio-opciones{justify-content:space-around;padding:10px;border-radius:8px;}
    .label-encabezado{font-size:1.1em;margin-top:10px;}
    .guardar-equipo{margin-top:15px;padding:18px;}

}